<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/create-product}">
        Add new product
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="products">
    <thead>
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.nameProduct}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/edit-product/__${product.id}__}">Edit</a></td>
        <td><a th:href="@{/delete-product/__${product.id}__}">Delete</a></td>
        <td><a th:href="@{/view-product/__${product.id}__}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
